@model SitecoreDev.Feature.PageContent.Models.EventListViewModel

@if (Model.HasEvents)
{
    <div class="well bg-primary">
        <h5 class="text-uppercase">Events</h5>
        <ul class="media-list">

            @foreach (var item in Model.Events)
            {
                <li class="media">
                    <div class="media-body">
                        @item.EventDate.ToString("MMM dd, yyyyy")
                        <h4 class="media-heading">
                            <a href="Event-Detail.html">@item.EventTitle</a>
                        </h4>
                    </div>
                </li>
            }
        </ul>
        <a href="Event-Sections.html" class="btn btn-default">Read more</a>
    </div>
}

